<div class="container mt-5" style="margin-top: 45%;">
  <h1 style="color: #7489ab">Ingresa tu nueva contraseña {{email}}</h1>
<div class="row g-3 mt-3" id="formLogin" style=" border-color: #7489ab; border-style: solid;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
    padding-bottom: 5px;">
  <div class="col-md-6">
    <div>
          <label for="inputPassword" class="form-label">New Password</label>
    <input type="password" class="form-control" id="inputPassword"  placeholder="Nueva Contraseña">
    </div>
    
  </div>

  <div class="col-12" style="padding-bottom: 14px;">
    <button id="aceptarbtn" onclick="resetPassword('{{email}}')" class="btn btn-primary">Aceptar</button>
  </div>

</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/resetPassword.js"></script>